:root > * {
  --md-primary-fg-color: #005EEB;
}

.progress-label {
  position: absolute;
  text-align: center;
  font-weight: 700;
  width: 100%;
  margin: 0;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.md-header{
  top: 47px;
}

.md-main__inner {
  margin-top: 3rem;
}

.progress-bar {
  height: 1.2rem;
  float: left;
  background-color: #2979ff;
}

.progress {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  height: 1.2rem;
  background-color: #eeeeee;
  position: relative;
}

.progress.thin {
  margin-top: 0.9rem;
  height: 0.4rem;
}

.progress.thin .progress-label {
  margin-top: -0.4rem;
}

.progress.thin .progress-bar {
  height: 0.4rem;
}

.progress-100plus .progress-bar {
  background-color: #00e676;
}

.progress-80plus .progress-bar {
  background-color: #fbc02d;
}

.progress-60plus .progress-bar {
  background-color: #ff9100;
}

.progress-40plus .progress-bar {
  background-color: #ff5252;
}

.progress-20plus .progress-bar {
  background-color: #ff1744;
}

.progress-0plus .progress-bar {
  background-color: #f50057;
}

/* 动态图标 */
@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}

.heart {
  animation: heart 1000ms infinite;
}

.md-nav__source {
  background-color: #005EEB;
}

/* 自定义 Admonitions */
:root {
  --md-admonition-icon--tx-heart: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14 20.408c-.492.308-.903.546-1.192.709-.153.086-.308.17-.463.252h-.002a.75.75 0 01-.686 0 16.709 16.709 0 01-.465-.252 31.147 31.147 0 01-4.803-3.34C3.8 15.572 1 12.331 1 8.513 1 5.052 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262A31.146 31.146 0 0114 20.408z"/></svg>')
}

/* 标题颜色 */
.md-typeset .admonition.tx-heart,
.md-typeset details.tx-heart {
  border-color: rgb(255, 192, 203);
}

/* 侧边颜色 */
.md-typeset .tx-heart > .admonition-title,
.md-typeset .tx-heart > summary {
  background-color: rgba(255, 182, 193, 0.1);
}

/* 图标颜色 */
.md-typeset .tx-heart > .admonition-title::before,
.md-typeset .tx-heart > summary::before {
  background-color: rgb(255, 20, 147);
  -webkit-mask-image: var(--md-admonition-icon--tx-heart);
          mask-image: var(--md-admonition-icon--tx-heart);
}

.md-typeset hr {
  margin: 1em;
  display: inline-block;
  border-bottom: .05rem var(--md-default-fg-color--lightest);
}

.md-grid {
  margin-left: 1rem;
  margin-right: auto;
  max-width: initial;
}

.md-top {
  margin-top: 2rem;
}

.md-footer {
  background-color: #005EEB;
}

.md-nav--primary .md-nav__title .md-logo {
  display: none;
}

/* 不添加额外样式的图片样式 */
.md-content .original img:not(.browser-mockup img) {
  display: block;
  border: none;
  box-shadow: none;
}

/* 不添加浏览器导航栏的图片样式 */
.md-content img:not(.browser-mockup img) {
  display: block;
  box-shadow: 0 0.1em .5em 0 rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 4px;
}

.browser-mockup.none {
  border-top: 0;
  border-radius: 4px;
}

.browser-mockup.none img {
  border-radius: 4px;
}

.browser-mockup.none:before {
  display: none;
}

/* 添加浏览器导航栏的图片样式 */
.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.8);
  box-shadow: 0 0.1em .5em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 4px 4px 0 0
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-tab:after {
  display: block;
  position: absolute;
  content: '';
  top: -2em;
  left: 5.5em;
  width: 20%;
  height: 0em;
  border-bottom: 2em solid white;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
}

.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.browser-mockup>* {
  display: block;
}

.browser-mockup>a {
  line-height: 0;
}