/* ===============================
   自定义进度条
   =============================== */

.progress {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  height: 1.2rem;
  background-color: #eeeeee;
  position: relative;
}

.progress-bar {
  float: left;
  height: 1.2rem;
  background-color: #2979ff;
}

.progress-label {
  position: absolute;
  width: 100%;
  margin: 0;
  text-align: center;
  font-weight: 700;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.progress.thin {
  margin-top: 0.9rem;
  height: 0.4rem;
}

.progress.thin .progress-bar {
  height: 0.4rem;
}

.progress.thin .progress-label {
  margin-top: -0.4rem;
}

.progress-100plus .progress-bar  { background-color: #00e676; }
.progress-80plus  .progress-bar  { background-color: #fbc02d; }
.progress-60plus  .progress-bar  { background-color: #ff9100; }
.progress-40plus  .progress-bar  { background-color: #ff5252; }
.progress-20plus  .progress-bar  { background-color: #ff1744; }
.progress-0plus   .progress-bar  { background-color: #f50057; }

/* ===============================
   图片展示样式
   =============================== */

/* 不添加额外样式的图片 */
.md-content .original img:not(.browser-mockup img) {
  display: block;
  border: none;
  box-shadow: none;
}

/* 未加浏览器样式的图片 */
.md-content img:not(.browser-mockup img) {
  display: block;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0.1em .5em 0 rgba(0, 0, 0, 0.4);
}

/* 浏览器 mockup 布局样式 */
.browser-mockup {
  position: relative;
  max-width: 1200px;
  margin: 5 auto;
  border-top: 2em solid rgba(230, 230, 230, 0.8);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0.1em .5em 0 rgba(0, 0, 0, 0.4);
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-tab:after {
  display: block;
  position: absolute;
  content: '';
  top: -2em;
  left: 5.5em;
  width: 20%;
  height: 0em;
  border-bottom: 2em solid white;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
}

.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.browser-mockup>* {
  display: block;
}

.browser-mockup>img {
  border-radius: 4px 4px 4px 4px;
}

.browser-mockup>a {
  line-height: 0;
}

/* 无浏览器顶栏的 mockup */
.browser-mockup.none {
  border-top: 0;
  border-radius: 4px;
}
.browser-mockup.none img {
  border-radius: 4px;
}
.browser-mockup.none:before {
  display: none;
}

/* ===============================
   Termynal 终端组件
   =============================== */

.termynal-comment {
  color: #4a968f;
  font-style: italic;
  display: block;
}

.termy {
  /* For right to left languages */
  direction: ltr;
}

.termy [data-termynal] {
  white-space: pre-wrap;
}