:root {}

/* 不添加额外样式的图片样式 */
.md-content .original img:not(.browser-mockup img) {
  display: block;
  border: none;
  box-shadow: none;
}

/* 不添加浏览器导航栏的图片样式 */
.md-content img:not(.browser-mockup img) {
  display: block;
  box-shadow: 0 0.1em .5em 0 rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 4px;
}

.browser-mockup.none {
  border-top: 0;
  border-radius: 4px;
}

.browser-mockup.none img {
  border-radius: 4px;
}

.browser-mockup.none:before {
  display: none;
}

/* 添加浏览器导航栏的图片样式 */
.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.8);
  box-shadow: 0 0.1em .5em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 4px 4px 0 0
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-tab:after {
  display: block;
  position: absolute;
  content: '';
  top: -2em;
  left: 5.5em;
  width: 20%;
  height: 0em;
  border-bottom: 2em solid white;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
}

.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.browser-mockup>* {
  display: block;
}

.browser-mockup>a {
  line-height: 0;
}